.container-home {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-home img {
    height: 80%;
    border-radius: 25px;
}

.container-home img:hover {
    height: 85%;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.3);
}

.container-depoimento-home {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.container-depoimento-home span {
    cursor: pointer;
}

.container-depoimento-home span:hover {
    font-weight: bold;
}


.container-depoimento-home span {
    cursor: pointer;
    color: black;
}

.container-depoimento-home span:hover {
    font-weight: bold;
}